
.form-container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
   
}
.form-container .title{
    color: white;
}
.form-container form{
    padding: 2rem;
    padding-top: 5rem;
    
    background-color: #002346;
    box-shadow: 4px 4px 3px 3px rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
}

 #register-message{
    display: block;
    text-align: center;
    padding: 0.5rem 0;
    background-color: rgb(49, 153, 49);
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
h1{
    text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   padding-bottom: 2rem;
}
.form-container form .box{
    padding-top: 1rem;
}
.form-container form .box{
    position: relative;
    width: auto;
    height: auto;
    border-bottom: 2px solid rgb(225, 0, 255);
}
.form-container form .box label{
    transition: 0.15s;
    position: absolute;
    left: 0;
    color: rgb(223, 95, 216) ;
    font-weight: bold;
   

}
 input:focus+label, input:not(:placeholder-shown)+label{
    transform: translateY(-1em);
    color: rgb(245, 187, 245);
    font-weight: bold;
}
 input::placeholder{
    color: transparent;
}
.form-container form input{
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    padding: 0.5rem;
    outline: none;
   background-color: transparent;
    border: none;
    color: rgb(228, 169, 198);
}
.form-container  .error{
    color: rgb(221, 78, 78);
   
    margin: 0.5rem 0;
    font-size: small;
    
}
button{
    margin-top: 1rem;
    width: 100%;
    background-color: rgb(225, 0, 255);
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    border:none;
    font-size:large;
    font-weight: 700;
    transition: 0.15s;
}
button:hover{
   opacity: 0.6;
}
button:active{
    background-color: #b65ba7;
}
.forget-password{
    display: block;
    text-align: right;
    margin-top: 0.5rem;
    color: blue;
    cursor: pointer;
    transition: 0.15s;
}
.forget-password:hover{
    font-size: 15px;
   
}
.singup-page{
    text-align:center;
    color: #bd4daa;
    padding: 2rem 0;
    margin-top: 1rem;
}
.singup-page .singUp{
    color:blue;
    text-decoration: underline;
    transition: 0.15s;
    
}
.singup-page .singUp:hover{
    cursor: pointer;
    color: rgb(128, 0, 107);
    font-size: 15px;
}
.register-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
}
.register-form #sign-btn{
    padding: 0.2rem;
    border-radius: 0.8rem;
    background-color: rgb(3, 105, 100);
}
#find-login{
    color: white;
    padding-top: 1rem;
 
}
#find-login span{
    color: #12bbbb;
    cursor: pointer;
    text-decoration: underline;
    transition: 0.15s;
}
#find-login span:hover{
    font-size: small;
}
.left-right{
    display: grid;
    grid-template-columns: 40% 60%;            
    box-shadow: 0 0 20px #eee;        
   
     
}

.left-part{
    align-self: center;
    justify-self: center;
    border-right: 2px solid rgb(11, 8, 173);
    padding: 3rem;
}
.left-part .left-sub-title{
    margin: 0;
    padding: 0;
    padding-left: 2rem;

}
.left-title{
    font-size: 80px;
    font-weight: bold;
    color: #002346;
    margin: 0;
}
.existed{
    
    text-align: center;
    margin-top: 2rem;
    padding: 0.5rem !important;
}

@media only screen and (max-width:750px) {
    .register-form{
        display: block;
    }
    .left-title{
        font-size: 50px;
    }
    .left-part .left-sub-title{
        margin: 0;
        font-size: smaller;
        padding: 0;
    
    }
}
@media only screen and (max-width:500px) {
    .left-title{
        font-size: 30px;
    }
    .left-right{
        display: block;
             
    }
    .left-part{
        align-self: center;
        justify-self: center;
        border-right: none;
        border-bottom: 2px solid blue;
        padding: 3rem;
    }
}
